.emoji-card {
  background-color: #ffffff33;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #ffffff30;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}
.emoji-image {
  height: 80px;
  width: auto;
}
.emoji-image {
    height: 80px;
}
@media (max-width: 576px) {
  .emoji-image {
    height: 50px;
    width: auto;
    padding: 10px;
  }
}
