.result-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  background-color: #ffffff33;
  margin: 40px;
  padding: 20px 30px;
  border: 3px solid #ffffff30;
  border-radius: 20px;
  font-family: 'Roboto';
}
.score-text {
  color: #6a59ff;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Roboto';
}
.play-again-button {
  background-color: #ffce27;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Roboto';
}
.result-text {
  font-size: 58px;
  font-family: 'Roboto';
}
.best-score {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  font-family: 'Roboto';
}

@media (max-width: 768px) {
  .result-card {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .result-image {
    order: 1;
  }
  .score-container {
    order: 2;
  }
  .result-text {
    font-size: 42px;
  }

  .best-score {
    font-size: 24px;
  }

  .score-text {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .result-card {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .result-image {
    order: 1;
    width: 200px;
    height: auto;
    padding-bottom: 0;
  }
  .score-container {
    order: 2;
  }
  .result-text {
    font-size: 24px;
  }

  .best-score {
    font-size: 15px;
  }

  .score-text {
    font-size: 20px;
  }
  .play-again-button {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    padding-bottom: 0;
  }
}
